<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--    告诉spring用注解-->
    <!--    <context:annotation-config/>-->
    <!--    通过关键字c就可以获取Category对象，对象已经被注入值“category 1”到name属性中-->
    <!--    <bean name="c" class="pojo.Category">-->
    <!--        <property name="name" value="category 1"/>-->
    <!--    </bean>-->
    <!--    <bean name="p" class="pojo.Product">-->
    <!--        <property name="name" value="product1"/>-->
    <!--&lt;!&ndash;        <property name="category" ref="c"/>&ndash;&gt;-->
    <!--    </bean>-->

    <!--    上面所有都去掉，下面改为注解配置bean-->
    <context:component-scan base-package="pojo"/>

    <!--    使用注解替换下面的配置bean类方式-->
    <!--    <bean name="s" class="pojo.ProductService"></bean>-->
    <!--    <bean id="loggerAspect" class="pojo.LoggerAspect"/>-->

    <!--    使用注解替换下面的配置方式-->
    <!--    <aop:config>-->
    <!--        <aop:pointcut id="loggerCutpoint" expression="execution(* pojo.ProductService.*(..))"/>-->
    <!--        <aop:aspect id="logAspect" ref="loggerAspect">-->
    <!--            <aop:around method="log" pointcut-ref="loggerCutpoint"/>-->
    <!--        </aop:aspect>-->
    <!--    </aop:config>-->

    <!--    找到被注解的切面类进行切面配置-->
    <aop:aspectj-autoproxy/>
</beans>